.contents.touroku
  .container
    .mojiinfo
      %h2.moji ユーザー登録
    .rink
      %a{:href => "/tweets"} 投稿一覧
    = form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f|
      = devise_error_messages!
      .field
        = f.label :ニックネーム
        %em (最大6文字まで入力可能)
        %br/
        = f.text_field :nickname, autofocus: true, maxlength: "6"
      .field
        = f.label :アドレス
        %br/
        = f.email_field :email
      .field
        = f.label :パスワード
        - if @validatable
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "off"
      .field
        = f.label :パスワードの再確認
        %br/
        = f.password_field :password_confirmation, autocomplete: "off"
      .actions
        = f.submit "登録"
