.header
  .header__bar.row
    %h1.grid-6
      %a{:href => "/tweets"} 投稿一覧
    .user_nav.grid-6
      %a.post{:href => "/tweets/new"} 投稿する
  = yield
.edit
  .container
    = form_with(model: @tweet, local: true) do |form|
      .waku
        .toukouwaku1
          %h3.toukou1
            編集する
        .url1 
          = form.text_field :image, placeholder: "Image Url"
        .text3
          = form.text_area :text, placeholder: "text" , rows: "10"
        .botan1
          = form.submit "更新する"
= render "footer" 
