.contents.login
  .container
    .mojiinfo
      %h2.moji ログイン
    .rink
      %a{:href => "/tweets"} 投稿一覧
    = form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f|
      .field
        = f.label :アドレス
        %br/
        = f.email_field :email, autofocus: true
      .field
        = f.label :パスワード
        %br/
        = f.password_field :password, autocomplete: "off"
      - if devise_mapping.rememberable?
        .field
          = f.label :記憶
          %br/
          = f.check_box :remember_me
      .actions
        = f.submit "ログインする"
